<nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <img src="assets/images/cambio2.png" alt="Logo de MediCure">
                <span>MediCare</span>
            </div>
            
            <div *ngIf="isLoggedIn" class="nav-right">
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>

                <a *ngIf="isLoggedIn" (click)="logout()" class="cta-button">Cerrar sesión</a>
            </div>
        </div>
    </nav>