<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-10">
      
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label for="correo" class="form-label">Correo Electrónico</label>
    <input type="email" id="correo" formControlName="correo" class="form-control" placeholder="Ingresa tu correo">
    
    <div *ngIf="f['correo'].invalid && (f['correo'].dirty || f['correo'].touched)" class="text-danger mt-1">
      <div *ngIf="f['correo'].errors?.['required']">El correo es obligatorio.</div>
      <div *ngIf="f['correo'].errors?.['email']">El formato del correo no es válido.</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="Ingresa tu nombre">
    <div *ngIf="f['nombre'].invalid && (f['nombre'].dirty || f['nombre'].touched)" class="text-danger mt-1">
      <div *ngIf="f['nombre'].errors?.['required']">El nombre es obligatorio.</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="apellidos" class="form-label">Apellidos</label>
    <input type="text" id="apellidos" formControlName="apellidos" class="form-control" placeholder="Ingresa tus apellidos">
     <div *ngIf="f['apellidos'].invalid && (f['apellidos'].dirty || f['apellidos'].touched)" class="text-danger mt-1">
      <div *ngIf="f['apellidos'].errors?.['required']">Los apellidos son obligatorios.</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="dni" class="form-label">DNI</label>
    <input type="text" 
    id="dni" formControlName="dni" 
    class="form-control" 
    placeholder="Ingresa tu dni" 
    (input)="onNumericInput($event, 'dni', 8)">
    <div *ngIf="f['dni'].invalid && (f['dni'].dirty || f['dni'].touched)" class="text-danger mt-1">
      <div *ngIf="f['dni'].errors?.['required']">El documento es obligatorio.</div>
      <div *ngIf="f['dni'].errors?.['pattern']">El documento solo debe contener números.</div>
      <div *ngIf="f['dni'].errors?.['minlength'] || f['dni'].errors?.['maxlength']">
        El DNI debe tener 8 dígitos.
      </div>
    </div>
  </div>
  
  <div class="mb-3">
    <label for="celular" class="form-label">Celular</label>
    <input type="tel" 
    id="celular" formControlName="celular" 
    class="form-control" 
    placeholder="Ingresa tu número de celular" 
    (input)="onNumericInput($event, 'celular', 9)">
     <div *ngIf="f['celular'].invalid && (f['celular'].dirty || f['celular'].touched)" class="text-danger mt-1">
      <div *ngIf="f['celular'].errors?.['required']">El celular es obligatorio.</div>
      <div *ngIf="f['celular'].errors?.['pattern']">El celular solo debe contener números.</div>
      <div *ngIf="f['celular'].errors?.['minlength'] || f['celular'].errors?.['maxlength']">
        El celular debe tener 9 dígitos.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="contrasena" class="form-label">Contraseña</label>
    <div class="input-group">
      <input 
        [type]="passwordFieldType" 
        id="contrasena" 
        formControlName="contrasena" 
        class="form-control"
        placeholder="Ingresa tu contraseña"
        >
      <span class="input-group-text" style="cursor: pointer;">
        <i [class]="passwordIcon" (click)="togglePasswordVisibility()"></i>
      </span>
    </div>
    <div *ngIf="f['contrasena'].invalid && (f['contrasena'].dirty || f['contrasena'].touched)" class="text-danger mt-1">
      <div *ngIf="f['contrasena'].errors?.['required']">La contraseña es obligatoria.</div>
      <div *ngIf="f['contrasena'].errors?.['minlength']">
        La contraseña debe tener al menos 6 caracteres.
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary w-100">
    Registrar
  </button>
</form>
    </div>
  </div>
</div>